---
# front matter
---

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i|Roboto:400,400i,500,500i&subset=greek,greek-ext');

body {
  padding-top: 205px;
  padding-bottom: 105px;
  border-bottom: 50px solid #eee;
  font-family: "Roboto Sans", sans-serif !important;
  h1:first-child {
    padding-bottom: 50px;
    font-weight: 700 !important;
  }
  b, strong {
    font-weight: 500 !important;
  }
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

code, pre {
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #607D8B;
}
h2 {
  color: #78909C;
}
h3 {
  color: #90A4AE;
}

code {
  border-left: 0px solid white !important;
  color: #00796B;
}

.navbar {
  padding: 2em;
  background-color: #546E7A;
  a.nav-link, a.navbar-brand {
    color: #ECEFF1;
  }
}

.highlight {
  margin: 0 0;
}

.highlighter-rouge div.highlight{
  border-left: 1px solid #CFD8DC;
  background-color: #FBFBFB;
  margin: 20px auto;
  padding: 8px;
}

.language-julia div.highlight {
  &::before {
    content: "input";
    background-color: #CFD8DC;
    color: #343434;
    text-transform: uppercase;
    font-size: 80%;
    display: block;
    padding: 2px 8px;
    margin: -8px;
  }
  background-color: #fcfcfc;
  border: 1px solid #CFD8DC;
  z-index: 2;
  padding: 8px;
  pre {
    padding-top: 20px;
  }
}

.js-plotly-plot {
  margin: 50px auto;
}
