---
# front matter
---

code, pre {
  font-family: "Hack", monospace;
  font-size: 100%;
}

code {
  border: 0px !important;
  background: none !important;
}

.toc {
  padding-top: 200px;
}

.maincontent {
  padding-top: 50px;
  padding-bottom: 30px;
}



.highlight {
  margin: 0 0;
}

.highlighter-rouge pre.highlight{
  border-left: 1px solid #CFD8DC;
  background-color: #FBFBFB;
  margin: 20px auto;
  padding: 8px;
  font-size: 90%;
}

.language-julia pre.highlight {
  &::before {
    content: "input";
    background-color: #CFD8DC;
    color: #343434;
    text-transform: uppercase;
    font-size: 80%;
    display: block;
    padding: 2px 8px;
    margin: -8px;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  background-color: #fcfcfc;
  border: 1px solid #CFD8DC;
  z-index: 2;
  padding: 8px;
  padding-top: 20px;
}
