---
# front matter
---

$bg-color: #fafafa;

body {
  background-color: $bg-color;
}

mark.reference {
  background-color: #FFE0B2;
  color: #111;
}

.maincontent {
  p, em, strong, i, b, code, a {
    font-size: 19px !important;
    line-height: 32px !important;
  }

  h1, h2, h3 {
    position: sticky;
    top: 0;
    background-color: $bg-color;
    line-height: 80px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}

.toc {
  position: fixed;
}

.container {
  padding: 0 0;
}

nav {
  background: none;
  border: none;
  display: block;
  a, span {
    line-height: 40px;
  }
  .sublink-1 {
    &::before {
      border: none;
    }
  }
}
