---
# front matter
---

$bg-color: #ffffff;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,400i,600,600i&subset=greek');

html, * {
  font-family: "Open Sans";
  b, strong {
    font-weight: 600;
  }
}

code, pre {
  font-family: "Hack", monospace !important;
  font-size: 90% !important;
}

h1, h2, h3, h4 {
  font-family: "Open Sans Condensed";
}

// Other things

body {
  background-color: $bg-color;
}

mark.reference {
  background-color: #FFF3E0;
  color: #f57c00;
}

code {
  background-color: #E0F2F1;
  color: #00897B;
}

.maincontent {
  p, em, strong, i, b, code, a, li {
    font-size: 18px;
    line-height: 31px !important;
  }

  h1, h2, h3 {
    background-color: $bg-color;
    line-height: 60px;
  }
  h1 {
    position: sticky;
    top: 0;
    font-size: 40px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 120px;
  }
  h2 {
    position: sticky;
    top: 60px;
    font-size: 30px;
    color: #424242;
  }
  h3 {
    font-size: 20px;
    color: #616161;
    background-color: none;
  }
}

.toc {
  position: fixed;
}

.container {
  padding: 0 0;
}

nav {
  background: none;
  border: none;
  display: block;
  a, span {
    line-height: 30px;
  }
  .sublink-1 {
    &::before {
      border: none;
    }
  }
}


.maincontent {
  pre {
    font-family: "Hack", monospace !important;
  }
}

.highlight {
  * {
    font-family: "Hack", monospace !important;
    font-size: 14px !important;
  }
  code {
    color: #000;
    background: none;
  }
}

pre.highlight {
  border-left: 4px solid #80CBC4;
  background-color: #ECEFF1;
}
.language-julia {
  pre.highlight {
    &::before {
      color: #26A69A;
      content: "INPUT";
      font-size: 80%;
      font-weight: bold;
      float: right;
    }
    border-left: 4px solid #26A69A;
  }
}

table {
  width: 100%;
  margin: 2rem 0px;
}
