@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Fira+Sans+Condensed:400,400i,500,500i|Fira+Sans:400,400i,500,500i&subset=greek,greek-ext');

:root {
    --toc-width: 15em;
    --max-width: 45em;
    --int-padding: 1em;

    --color-bg: #fcfcfc;
    --color-fg: #303030;

    --font-mono: "Fira Mono";
    --font-body: "Fira Sans";
    --font-meta: "Fira Sans Condensed";

    --package-name: "EcologicalNetworks"
}

body {
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-family: var(--font-body);
    line-height: 1.5;
    font-size: 16px;
}

b, strong {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .nav-anchor {
    font-weight: 500;
    font-family: var(--font-meta);
    color: #777;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #1C9696;
}

nav.toc, article {
    padding: var(--int-padding);
}

nav.toc {
    font-family: var(--font-meta);
    width: var(--toc-width);
    position: fixed;
    height: 100vh;
    top: 0;
    left: -15em;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    padding: 1em 0 0 0;
    text-align: center;
    background-color: var(--color-bg);
}

nav.toc.show {
    left: 0;
    box-shadow: 0px 0px 4px 0px #888;
    font-size: 95%;
}

nav .logo {
    max-width: var(--toc-width);
    max-height: 7em;
    text-align: center;
}

nav.toc h1 {
    color: var(--color-fg);
    font-weight: 500;
    font-size: 1.35em;
}

nav.toc ul {
    padding-left: 15px;
}

nav.toc li {
    line-height: 28px;
}

nav.toc li.current {
    font-weight: 500;
}

nav.toc li.current ul.internal {
    font-weight: 400;
}

nav.toc li.current ul.internal a {
    color: #777 !important;
}


nav.toc ul, nav.toc li {
    text-align: left;
    list-style: none;
}

article {
    max-width: var(--max-width);
    margin: 0 auto;
}

section.docstring {
    margin-bottom: 4em;
}

section.docstring:last-of-type {
    margin-bottom: 0;
}

.docstring-header {
    font-size: 110%;
    font-weight: 500;
    color: #777;
}

.docstring-binding {
    color: black;

}

pre, code, kbd {
    font-family: var(--font-mono);
}

header {
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C9696;
    color: var(--color-bg);
    font-family: var(--font-meta);
}

header a, header a:hover, header a:visited{
    font-weight: 500;
    color: white !important;
}

header ul, header li {
    list-style: none;
    padding-left: 0;
    display: inline;
}

header li {
    display: inline-block;
}

header li:first-of-type::before {
    content: var(--package-name);
    color: red;
}

header hr {
    display: none;
}

.edit-page {
    display: none;
}

@media screen and (max-width: 768px) {
    header nav {
        display: none;
    }
}

#topbar {
    display: inline;
    float: right;
}
